.sc_newscast .error_view {
  overflow: hidden;
  height: 100%;
  text-align: center;
}

.sc_newscast .error_view .error_area {
  padding-top: 69px;
}

.sc_newscast .error_view .error_msg {
  font-size: 14px;
  color: #404040;
}

.sc_newscast .error_view .dsc_msg {
  margin-top: 11px;
  line-height: 21px;
  color: #505050;
}

.sc_newscast .error_view .link_redirect {
  display: inline-block;
  margin-top: 20px;
  height: 40px;
  padding: 0 14px;
  background-color: #3565c9;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 40px;
  color: #fff;
  vertical-align: top;
}